.forgotPage{
    background-image: linear-gradient(90deg, var(--bg-blue) 0 100%) ,url(../../assets/slider/slider-3.png);
    background-position-x: 900px;
}

.confirmMessage{
    width: 80%;
    height: 400px;
    margin:auto ;
    background-color: var(--orange);
    padding: 2rem;

    position: fixed;
    z-index: 2000;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;

    transform: scale(0);
    transition: transform 200ms;
}

.showMessage{
    transform: scale(1);
}

.confirmMessage h3{
    text-align: center;
    color:var(--white);
    font-weight: 400;
}

.confirmMessage h3 span{
    font-weight: 800;
    color:var(--dark-blue);
}

.confirmMessage .buttons{
    display: flex;
    align-items: center;
    gap:1rem;
}

.confirmMessage .buttons button{
    padding: .5rem 1rem;
    border:none;
    color:var(--white);
}

.confirmMessage .buttons button:nth-child(1){
    background-color: var(--green);
}
.confirmMessage .buttons button:nth-child(2){
    background-color: var(--red);
}

@media(min-width:599px){
    .forgotPage{
        background-position: center;
    }
}