.singupPage{
    background-image: linear-gradient(90deg, var(--bg-blue) 0 100%) ,url(../../assets/slider/slider-2.png);
    background-position-x: 500px;
}

@media(min-width:599px){
    .singupPage{
        background-position: center;
    }
}
